.container {
    border: 1px solid;
    background-color: violet;
    height: 700px;
    width: 504px;

    display: grid;
    gap: 5px;

    grid-template-rows: 30px 500px 30px;
    grid-template-columns: 300px 300px;

    grid-template-areas: 
    "hd hd"
    "side main"
    "ft ft";
}

.boxes {
    border: 1px solid;
    background-color: rgb(235, 60, 235);
}

#header {
    grid-area: hd;
}

#sidebar {
    grid-area: side;
}

#content {
    grid-area: main;
}

#footer {
    grid-area: ft;
}