@import url('https://fonts.googleapis.com/css2?family=Mulish&family=Poppins:wght@600&family=Raleway&display=swap');

:root{
    --deepBlue: #02042a;
    --mulish: 'Raleway', sans-serif;
}

body{
    background-color: var(--deepBlue);
}

.wrapper{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    border: 1px solid;
    width: 1080px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    
}

a:link, a:visited {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.logo{
    width: 125px;
    height: 30px;
    padding: 1.75rem;
    padding-right: 1.75rem;
}

.nav-container{
    position: relative;
    color: white;
    font-family: var(--mulish);
    display: flex;
}

.nav{
    
    height: 100%;
    width: 100%;
}

.nav:hover{
    background-color: aqua;
}